<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="13c85acf-5f5e-4f24-8729-eeeba9b84956" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="13c85acf-5f5e-4f24-8729-eeeba9b84956fileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
