<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2bff5286-9efc-49b2-9eb5-bcd2cb93ab66" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2bff5286-9efc-49b2-9eb5-bcd2cb93ab66fileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="8275017b-0710-4ae6-a549-0e08a3b2f66a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="7f61101c-0298-4d2d-8575-7afaf158acb9">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
